<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
<li>TensorFlow</li>
<li>NumPy</li>
<li>Pandas</li>
<li>SciPy</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>D3.js</td>
    </tr>
    <tr>
        <td>Julia</td>
    </tr>
    <tr>
        <td>BigML</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<p><b>Objectives:</b></p>
<ul>
<li>TensorFlow</li>
<li>NumPy</li>
<li>SciPy </li>
<li>Pandas</li>
<li>Matplotlib </li>
</ul>